footer {
	position: relative;
	z-index: 50;
	background-color: $color-primary;
	min-height: 100px;
	width: 100%;
	padding: 40px;
}

footer article {
	right: 40px;
}

footer article a {
	height: 50px;
	width: 50px;
	margin-left: 20px;
	font-size: 2.2em;
	line-height: 50px;
	text-align: center;
	border-bottom: none;
	color: $color-primary;
	background-color: $black;
	display: inline-block;
}

footer article a:hover .fa {
	line-height: 20px;
	transition: 0.2s ease-in-out;
}

footer h2 {
	color: $black;
}