.greenDiag {
	background-image: url('../img/patternGrn.svg') repeat;
}

.vertCenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.horizCenter {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

.hider {
	display: none;
}

.hiderSlo {
	opacity: 0;
	transition-delay: 0.5s;
}

.clearFloat {
	clear: both;
}

.text-center {
	text-align: center;
}

.pos-rel {
	position: relative;
}