$sm: 640px; //40em;
$md: 1024px; //64em;

$roboto: "Roboto", Arial, sans-serif;
$roboto-condensed: "Roboto Condensed", Arial, sans-serif;

$black: #000;
$grey-tint: #eee;
$white: #fff;
$mint: #52FFC5;


// PRIMARY VARS
// ---------------------------------------------------

$font-primary: $roboto;
$font-primary-cond: $roboto-condensed;

$color-primary: $mint;

// $pad-primary: 20px;
// $pad-box-primary: 20px;